In [112]:
import os
import numpy as numpy
import pandas as pd 
import re
import numpy as np

In [113]:
path = os.getcwd()

In [114]:
file_list = os.listdir()
keys = {}

In [115]:
for files in file_list:
    if files.endswith(".csv"): 
        match = re.search(r'data_(\d+)_',files)
        if match:
            keys[int(match.group(1))] = files

In [116]:
sorted_keys = sorted(keys.keys())
df_list = []

In [117]:
for ks in sorted_keys:
    file = keys[ks]
    df = pd.read_csv(file)
    df_list.append(df)

In [118]:
full_df = pd.concat(df_list,ignore_index=True)

In [119]:
combined_file = full_df.to_csv('Lead_school_data.csv',index=False)

In [120]:
df = pd.read_csv("Lead_school_data.csv")

In [121]:
df.head()

,Compliance Period,School District,School,County,Type of Organization,BEDS Code,School Website,Number of Outlets that Require Sampling,Number of Outlets Sampled 2023,Number of Outlets Sampled 2024,...,Total_students,Ratio_free,Student_teacher_ratio,American Indian/Alaska Native,Asian,Black,Hispanic,White,Native Hawaiian/Pacific Islander,Two or More Races
0,2023-2025,BETHPAGE UNION FREE SCHOOL,CHARLES CAMPAGNE SCHOOL,Nassau,Public School,280521030003,https://www.bethpagecommunity.com/,20.0,NaN,NaN,...,385.0,0.231169,11.79,0.012987,0.314286,0.010390,0.166234,0.475325,0.000000,0.020779
1,2023-2025,BETHPAGE UNION FREE SCHOOL,JOHN F KENNEDY J H S,Nassau,Public School,280521030008,https://www.bethpagecommunity.com/,33.0,NaN,NaN,...,1071.0,0.141923,10.93,0.001867,0.084967,0.031746,0.122316,0.749767,0.001867,0.007470
2,2023-2025,BETHPAGE UNION FREE SCHOOL,KRAMER ELEMENTARY SCHOOL,Nassau,Public School,280521030004,https://www.bethpagecommunity.com/,15.0,NaN,NaN,...,377.0,0.185676,13.07,0.002653,0.283820,0.007958,0.143236,0.511936,0.002653,0.047745
3,2023-2025,BLIND BROOK-RYE UFSD,BLIND BROOK HIGH SCHOOL,Westchester,Public School,661905020002,https://resources.finalsite.net/images/v171811...,53.0,53.0,0.0,...,NaN,NaN,9.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-2025,BLIND BROOK-RYE UFSD,BLIND BROOK-RYE MIDDLE SCHOOL,Westchester,Public School,661905020003,https://resources.finalsite.net/images/v171811...,57.0,57.0,0.0,...,NaN,NaN,9.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
df.columns

Index(['Compliance Period', 'School District', 'School', 'County',
       'Type of Organization', 'BEDS Code', 'School Website',
       'Number of Outlets that Require Sampling',
       'Number of Outlets Sampled 2023', 'Number of Outlets Sampled 2024',
       'Number of Outlets Sampled 2025', 'Sampling Complete',
       'Number of Outlets, Result ≤ 5 ppb',
       'Number of Outlets, Result > 5 ppb', 'All Results Received',
       'Out of Service or Addressed', 'Remediation Status', 'School Street',
       'School City', 'School State', 'School ZIP Code', 'Date Survey Updated',
       'County Location', 'Location', 'Cleaned_school_name', 'PS_No',
       'Free_lunch', 'Total_students', 'Ratio_free', 'Student_teacher_ratio',
       'American Indian/Alaska Native', 'Asian', 'Black', 'Hispanic', 'White',
       'Native Hawaiian/Pacific Islander', 'Two or More Races'],
      dtype='object')

In [123]:
df.describe()

,Number of Outlets that Require Sampling,Number of Outlets Sampled 2023,Number of Outlets Sampled 2024,Number of Outlets Sampled 2025,"Number of Outlets, Result ≤ 5 ppb","Number of Outlets, Result > 5 ppb",PS_No,Free_lunch,Total_students,Ratio_free,Student_teacher_ratio,American Indian/Alaska Native,Asian,Black,Hispanic,White,Native Hawaiian/Pacific Islander,Two or More Races
count,2927.000000,2721.000000,2779.000000,2725.000000,2929.000000,2929.000000,56.000000,2656.000000,2656.000000,2656.000000,2732.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000
mean,55.074479,17.957001,24.821159,15.449174,-57.415842,111.287129,108.875000,364.796310,591.924699,0.615140,11.878906,0.012985,0.111525,0.157859,0.324988,0.355585,0.002850,0.033955
std,64.113818,35.331632,37.964773,29.116331,2213.922621,2213.905932,88.613166,368.932513,484.853867,0.273082,2.958881,0.051881,0.166363,0.194231,0.256554,0.327594,0.006125,0.033924
min,0.000000,0.000000,0.000000,0.000000,-45312.000000,0.000000,3.000000,3.000000,24.000000,0.008219,2.130000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,0.000000,0.000000,0.000000,22.000000,0.000000,44.500000,149.750000,332.000000,0.397971,10.020000,0.000000,0.009919,0.019055,0.111813,0.036680,0.000000,0.008897
50%,47.000000,0.000000,0.000000,0.000000,43.000000,0.000000,79.500000,267.500000,469.000000,0.640725,11.690000,0.003370,0.038741,0.069985,0.237409,0.272727,0.000000,0.024190
75%,76.000000,18.000000,45.000000,21.000000,71.000000,4.000000,183.500000,454.500000,675.250000,0.870857,13.660000,0.007798,0.140582,0.229025,0.524106,0.648752,0.003229,0.048777
max,2823.000000,294.000000,281.000000,372.000000,269.000000,45337.000000,310.000000,3684.000000,4803.000000,1.000000,57.110000,0.991736,0.920495,0.903846,0.997143,1.000000,0.141473,0.213333

In [124]:
df.shape

(2929, 37)

In [125]:
df_copied = df.copy()
df_copied.columns = df_copied.columns.str.replace('\xa0', ' ', regex=False)
col_to_drop = ['School Street','Cleaned_school_name','PS_No','Location','Remediation Status',
               'Type of Organization','Compliance Period','School Website','Date Survey Updated','BEDS Code',
               'County Location','All Results Received','Out of Service or Addressed',
               'School State','Number of Outlets that Require Sampling','Number of Outlets Sampled 2023', 
               'Number of Outlets Sampled 2024','Number of Outlets Sampled 2025', 'Sampling Complete','School ZIP Code','Free_lunch','Total_students']
df_copied.drop(columns=col_to_drop,inplace=True)
df_copied = df_copied.rename(columns={'Number of Outlets, Result ≤ 5 ppb' : 'num_lte_5ppb', 'Number of Outlets, Result > 5 ppb': 'num_gt_5ppb'})
df_copied.columns = df_copied.columns.str.replace(' ', '_').str.strip()
df_copied.columns

Index(['School_District', 'School', 'County', 'num_lte_5ppb', 'num_gt_5ppb',
       'School_City', 'Ratio_free', 'Student_teacher_ratio',
       'American_Indian/Alaska_Native', 'Asian', 'Black', 'Hispanic', 'White',
       'Native_Hawaiian/Pacific_Islander', 'Two_or_More_Races'],
      dtype='object')

### Comment

Some of the entries in 'Number of Outlets, Result ≤ 5 ppb' are negative. So, we set those rows to be NaN and also set the corresponding entries in 'Number of Outlets, Result > 5 ppb' to be  NaN

In [126]:
mask = df_copied['num_lte_5ppb'] < 0
df_copied.loc[mask,['num_lte_5ppb','num_gt_5ppb']]= np.nan

In [127]:
df_copied.describe()

,num_lte_5ppb,num_gt_5ppb,Ratio_free,Student_teacher_ratio,American_Indian/Alaska_Native,Asian,Black,Hispanic,White,Native_Hawaiian/Pacific_Islander,Two_or_More_Races
count,2922.000000,2922.000000,2656.000000,2732.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000,2656.000000
mean,50.911020,2.946270,0.615140,11.878906,0.012985,0.111525,0.157859,0.324988,0.355585,0.002850,0.033955
std,37.127623,6.116538,0.273082,2.958881,0.051881,0.166363,0.194231,0.256554,0.327594,0.006125,0.033924
min,0.000000,0.000000,0.008219,2.130000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,0.000000,0.397971,10.020000,0.000000,0.009919,0.019055,0.111813,0.036680,0.000000,0.008897
50%,44.000000,0.000000,0.640725,11.690000,0.003370,0.038741,0.069985,0.237409,0.272727,0.000000,0.024190
75%,71.000000,4.000000,0.870857,13.660000,0.007798,0.140582,0.229025,0.524106,0.648752,0.003229,0.048777
max,269.000000,100.000000,1.000000,57.110000,0.991736,0.920495,0.903846,0.997143,1.000000,0.141473,0.213333

In [128]:
## encodes classification: 1 <--> there exists a lead outlet > 5ppb
df_copied['target_col'] = (df_copied['num_gt_5ppb']>0).astype(int)

In [129]:
# clean up 
categorical_cols = ['School_District', 'School_City', 'County', 'School']
for col in categorical_cols: 
    df_copied[col] = df_copied[col].str.lower().str.replace(' ', '_').str.strip()
df_copied

,School_District,School,County,num_lte_5ppb,num_gt_5ppb,School_City,Ratio_free,Student_teacher_ratio,American_Indian/Alaska_Native,Asian,Black,Hispanic,White,Native_Hawaiian/Pacific_Islander,Two_or_More_Races,target_col
0,bethpage_union_free_school,charles_campagne_school,nassau,18.0,2.0,bethpage,0.231169,11.79,0.012987,0.314286,0.010390,0.166234,0.475325,0.000000,0.020779,1
1,bethpage_union_free_school,john_f_kennedy_j_h_s,nassau,32.0,1.0,bethpage,0.141923,10.93,0.001867,0.084967,0.031746,0.122316,0.749767,0.001867,0.007470,1
2,bethpage_union_free_school,kramer_elementary_school,nassau,12.0,3.0,plainview,0.185676,13.07,0.002653,0.283820,0.007958,0.143236,0.511936,0.002653,0.047745,1
3,blind_brook-rye_ufsd,blind_brook_high_school,westchester,36.0,17.0,rye_brook,NaN,9.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,blind_brook-rye_ufsd,blind_brook-rye_middle_school,westchester,54.0,3.0,rye_brook,NaN,9.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2924,york_central_school,york_j_s_h_s,livingston,88.0,28.0,retsof,0.510949,8.59,0.000000,0.007299,0.010949,0.062044,0.905109,0.000000,0.014599,1
2925,yorkshire-pioneer_central_school_district,arcade_es,cattaraugus,55.0,0.0,arcade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2926,yorkshire-pioneer_central_school_district,delevan_es,cattaraugus,55.0,0.0,delevan,0.551821,10.72,0.000000,0.005602,0.002801,0.030812,0.935574,0.000000,0.025210,0
2927,yorkshire-pioneer_central_school_district,pioneer_ms,cattaraugus,49.0,0.0,yorkshire,0.533128,8.91,0.003082,0.009245,0.009245,0.021572,0.939908,0.000000,0.016949,0
2928,yorkshire-pioneer_central_school_district,pioneer_shs,cattaraugus,47.0,0.0,yorkshire,0.533128,8.91,0.003082,0.009245,0.009245,0.021572,0.939908,0.000000,0.016949,0

### Add feature for % Houses Built Before 1950, by county

In [130]:
df_housing = pd.read_excel("lead.xlsx", sheet_name="Housing") # non-nyc counties
df_nyc_housing = pd.read_csv("NYC EH Data Portal - Very old homes (filtered).csv") #nyc counties

/opt/anaconda3/envs/erdos_ds_environment/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [131]:
# clean up dataframes: column names + drop unnecessary columns
df_housing = df_housing.rename(columns={'Percent\nHousing Built\nBefore 1950': 'percent_housing_pre_1950'})
df_housing['County'] = df_housing['County'].str.lower().str.replace(' ', '_').str.strip()

df_nyc_housing = df_nyc_housing.rename(columns={'Borough': 'County', 'Percent': 'percent_housing_pre_1950'})
df_nyc_housing['County'] = df_nyc_housing['County'].str.lower().str.replace(' ', '_').str.strip()
df_nyc_housing = df_nyc_housing.drop(columns=['TimePeriod', 'GeoTypeDesc', 'GeoID', 'GeoRank', 'BoroID','Geography', 'Area', 'Number' ])

In [132]:
# clean up county names
mask = df_copied.County.isin(['man', 'manhattan', 'new_york'])
df_copied.loc[mask, 'County'] = 'manhattan'
len(df_copied.County.unique())

62

In [133]:
set(df_copied.County.unique()) - set(df_housing.County.unique())

{'bronx', 'kings', 'manhattan', 'queens', 'richmond', 'st.lawrence'}

These are the 5 NYC counties plus St. Lawrence county. Checking, we see that St. Lawrence is recoreded as 'St.Lawrence' in df and 'St. Lawrence' in df_lead.

In [134]:
SL_spellings = ['st._lawrence', 'st.lawrence', 'st_lawrence']
mask_SL1 = df_copied.County.isin(SL_spellings)
mask_SL2 = df_housing.County.isin(SL_spellings)

df_copied.loc[mask_SL1, 'County'] = "st_lawrence"
df_housing.loc[mask_SL2, 'County'] = "st_lawrence"

In [135]:
# check

(set(df_copied.County.unique()) - set(df_housing.County.unique())) or (set(df_housing.County.unique()) - set(df_copied.County.unique()) )

{'bronx', 'kings', 'manhattan', 'queens', 'richmond'}

Now we have df with all 62 NY state counties, and df_housing with all non-NYC counties.

In [136]:
ny_housing = pd.concat([df_housing, df_nyc_housing])

In [137]:
df_merged = pd.merge(
    df_copied,
    ny_housing,
    on='County',        # both have the same column name
    how='left'          # keeps all rows from df, matches by county to ny_housing df
)

In [138]:
# Save as a csv
df_merged.to_csv("lead_data_expanded.csv", index=False)

In [139]:
df_merged.columns

Index(['School_District', 'School', 'County', 'num_lte_5ppb', 'num_gt_5ppb',
       'School_City', 'Ratio_free', 'Student_teacher_ratio',
       'American_Indian/Alaska_Native', 'Asian', 'Black', 'Hispanic', 'White',
       'Native_Hawaiian/Pacific_Islander', 'Two_or_More_Races', 'target_col',
       'percent_housing_pre_1950'],
      dtype='object')